/*footerを入れてからbodyが動かないようにする*/
.body{
	margin: 0 auto;
	padding-top:100px;
}

/* 固定headerの文の余白です */
.contents{
  padding-top:10px;
  margin-top:100px;
  height:auto;
  padding-bottom:10px;
  margin-bottom:80px;
}

h2{
	color: white;
}
.h2{
	color:black;
}

h1{
	text-align:center;
}

p{
	text-align:center;
}

.table_float{
	display:table;
	border-collapse:separate;
	border-spacing:10px;
}

.table_float li{
	display:table-cell;
}

.table_half{
	width:395px;
}

/* 中サイズのボタン*/
.btn{
	text-decoration: none;
	background-color: #FFFF99;
	border: 2px solid #b3b3b3;
	border-radius:20px;
	width: 100px;
	height: 50px;
	text-align: center;
	margin: 5px;
	outline:none;
}
/*大サイズのボタン*/
.btn1{
	background-color:#ffff80;
	border:5px solid #FF773E;
	border-radius:20px;
	color:#002200;
	font-weight:bold;
	width:150px;
	height: 50px;
	padding:10px 0;
	text-align:center;
	margin:15px 5px;
	outline:none;
}

/*特大サイズのボタン*/
.btn4{
	text-decoration: none;
	background-color: #FFFF99;
	border: 2px solid #b3b3b3;
	border-radius:20px;
	width: 200px;
	height: 50px;
	text-align: center;
	margin: 5px;
	outline:none;
}


/*メイン以降のボタン想定*/
.btn2{
	background-color:white;
	border: 2px solid #000044;
	font-family:DFKai-SB;
	font-size:16px;
	width: 130px;
	height: 50px;
	text-align: center;
	margin: 5px;
	font-weight:bold;
	color:black;
	outline:none;
}

.btn2_small{
	background-color:white;
	border: 2px solid #000044;
	font-family:DFKai-SB;
	width: 70px;
	height: 30px;
	text-align: center;
	margin: 5px;
	font-weight:bold;
	outline:none;
}

.btn2:hover,.btn2_small:hover{
	background-color:#ffcc66;
	color:#000044;
	cursor:pointer;
	outline:none;
}

.btnlist{
	text-align:center;
}

.btn_right{
	text-align:right;
}

.right{
	border:5px solid #FF773E;
	border-radius:20px;
	color:#002200;
	background-color: rgba( 209,204,204,0.70 );
	position: fixed;
	width: 300px;
	height: 310px;
	text-align: center;
	top: 110px;
	right: 0%;
}

.clear{
	clear:both;
}


body{
	background:url("image/nagomi_background.jpg");
	font-family:DFKai-SB;
}

/*ヘッダー,フッター*/
header{
	position: fixed;
	width:100%;
	height:110px;
	background-color:#000044;
	text-align:left;
	vertical-align:middle;
	top:0px;
	left:0px;
	z-index:1;
}
header img{
	width:100px;
	height:80px;
	margin-top:15px;
	margin-left:10px;
}
header input{
	background-color:#ffff80;
	border:5px solid #FF773E;
	border-radius:20px;
	color:#002200;
	font-weight:bold;
	font-family:DFKai-SB;
	font-size:14px;
	width:110px;
	height:40px;
	outline:none;
}

table{
	border:1px solid;
	text-align:center;
	width:800px;
	border-collapse:collapse;
	margin:30px 0px;
}

th{
	text-align:left;
	border-right:1px solid;
	padding:10px 10px;
	width:300px;
}

td{
	text-align:left;
	padding:5px;
	padding:10px 10px;
	width:300px;
}

.td_border{
	border:1px solid;
}

.table_clear,.th_clear,.td_clear{
	border:none;
}

.underline{
	border-bottom:1px solid;
}

.opacity{
    background-color:rgba(0,0,80,0.40);
    color:black;
}

.opacity2{
    background-color:rgba(255,255,204,0.40);
    color:black;
}

/* 日帰り予約 */

.people {
float:left;
margin-right:10px;

}
.total {
float:left;
margin-:10px;
}

.box{
	display: inline-block;
}

.reserve{
	clear: both;
}

.remarks{
	clear: both;
}

/*日帰りで使ってます。 */
.day_trip_tour_container{
  margin: 0 auto;
  width: 1024px;
/*   height: 2000px; */

}

.day_trip_text_box{
  float:left;
    margin-left: 35px;
}
.day_trip_img_box{
  clear:left;
  padding:  2px;

}
.day_trip_text_right{
	text-align:right;

}

.bx-viewport {
  border: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  left: 0 !important;
  background: transparent !important;
}

/*日帰り予約確認で使ってます。 */

div#wrapper {
    width: 800px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid #ffffff;
}


.day_trip_underline {
	text-decoration: underline;
}

/*宿泊ツアー一覧で使ってます。*/
@CHARSET "UTF-8";
.tour_container {
	margin: 0 auto;
	width: 800px;
/* 	height: 2000px; */
	padding: 150px
}


.day_trip_button {
	text-align:right;
}

.text_box_button{
	text-align:right;

}
a{
  text-decoration: none;
}

table button{
  text-align: right;
}
.staystay{
  text-align: right;
}

/* 予約管理 */
.scr{
	overflow:auto;
	width:820px;
	height:150px;
	/* background-color:red; */
	border: 2px solid #b3b3b3;
}

.padding{
	padding-top:40px;
}

.tb1{
	width:100px;
	border: 0px;
}
.tb2{
	width:200px;
	border: 0px;
}
.tb3{
	width:300px;
	border: 0px;
}
.tb4{
	width:400px;
	border: 0px;
}
.tbl{
	border:0px;
}

/* 宿泊管理 */
.text{
	width:300px;
}
.con{
	width: 800px;
    margin: 0 auto;
    text-align: center;
}
/*  */

table.stay1{
	border:0px;
	width:800px;
	text-align:center;
}

td.stay1{
	text-align:center;
}

table.stay2{
	width:100px;
	border:0px;
}
table.stay3{
	width:400px;
	border:1px solid;
}
table.stay4{
	width:400px;
	border:0px;
}

/*カレンダー用*/
table.calen{
	border-collapse:collapse; font-size:11pt; background-color:#fffafa;
}

table.calen th{
	border:1px solid #a57d6b; height:30px;
}

table.calen td{
	border:1px solid #a57d6b; text-align:center; height:30px; width:30px;
}

table.calen .sat{
	color:blue;
}

table.calen .sun{
	color:red;
}

table.calen .today{
	background-color:#ffe4ce; font-weight:bold;
}

table.calen tr.bg1{
	background-color:#f5f5dc;
}

table.calen tr.bg2{
	background-color:#eeeeee;
}

.admin{
	text-align:center;
}

@media screen
and (min-device-width:768px)
and (max-device-width:1024px)
and (orientation:landscape){
	/*iPad用 ここに幅768pxから1024pxまでのcssを記述する*/
}

@media screen
and (min-device-width:320px)
and (max-device-width:480px){
	/*iphone6系から4系まで用 ここに幅320pxから480pxまでのcssを記述する*/
}